<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de informações</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styleSelfieU.css">
</head>
<body>
    
    <div class="coluna">
        <h1>LocarEasy</h1>
    </div>

    <div class="tamanho-imagem">
        <div class="image-box">
            <img src="/assets/img/local-icon-oficial.png" alt="Vaga">
            <p>VAGA</p>
            <p >B23</p>
            <!-- <hr class="linha"> -->
        </div>  <div class="image-box">
            <img src="/assets/img/placa-icon.png" alt="Placa">
            <p>PLACA</p>
            <p>BR2B23</p>
            <!-- <hr class="linha">      -->
        </div>
        
    </div>

    <br>

    <div class="box-contrato">
        <p style="color: #0D47A1; font-size: 20px; text-align: center;">CÓDIGO DE CONTRATO</p>
        <p style="color: black; text-align: center;">LOCAR749351 <img src="/assets/img/copy.png" alt="Copiar" style="max-width: 30px; vertical-align: -webkit-baseline-middle;"></p>
        
    </div>

    <br>

    <div class="box-fiat">
        <p style="color: black; font-size: 15px; font-family: fonteRudaExtraBold;">Fiat Mobi Like Flex 1.0 2021</p>
        <img src="/assets/img/fiat-mobi.png" alt="Fiat Mobi Like Flex 1.0 2021">
        
    </div>
   
    <br>

    <div class="box-info">
        <p style="color: #0D47A1; font-size: 15px; font-family: fonteRudaExtraBold;">Data Devolução: <br>Segunda-feira, 2 de Outubro de 2023 às 15:05 </p>
        <br>
        <p style="color: #0D47A1; font-size: 15px; font-family: fonteRudaExtraBold;">Local Retirada: <br>Agência FRANQUEADA/POSTOS IPIRANGA <br>SÃO PAULO - SP</p>
        <br>
        <p style="color: #0D47A1; font-size: 15px; font-family: fonteRudaExtraBold;">Local Devolução: <br>Agência FRANQUEADA/POSTOS IPIRANGA <br>SÃO PAULO - SP <img src="/assets/img/pen.png" alt="Editar" style="max-width: 30px; float: right;"></p>
    </div>
    
    <br>

    <div class="container">
        <button type="button" >Desbloquear o veículo</button>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>