<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Selfie</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/styleSelfieU.css">
</head>
<body>
    <div class="coluna">
        <h1>LocarEasy</h1>
    </div>

    <h2>Esta é sua selfie (foto de rosto)</h2>
    
    <div class="container">
        <img src="/assets/img/Design sem nome.png" alt="Foto de rosto">
    </div>

    <h2>Uma imagem bem focalizada e em ambiente bem iluminado, garante uma melhor nitidez.</h2>

    <div class="container">
        <div class="button-top mb-2">
            <button type="button" onclick="location.href = 'confirm_signature.html'">CONFIRMAR</button><br>
        </div>
            <br><button type="button">TIRAR OUTRA FOTO</button>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>