@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --primary-color: #0A1C3E;
}
html {
  font-family: fonteRuda;
}

body {
  overflow: hidden;
}

.title-back{
  font-size: 28px;
}

.text-back {
  color: #0D47A1;
}

.container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.first-column {
  margin: 0px !important;
  padding: 0px !important;
  overflow: hidden;
}

.second-column {
  margin: 0px !important;
  padding: 0px !important;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #E3F2FD;
}

#canvas {
  filter: blur(70px);
}

.main-text {
  position: absolute;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 56px;
}


.reverso-nome {
  display: flex;

}
.reverso-nome a > img{
  width: 10px;
  height: 15px;
  margin-left: 10px;

}
.reverso-nome h2{
  display: flex;
  padding-left: 20px;
}
.card {
  margin: 20px auto;
  background-color: #D9D9D9;
}

.card > .img-car{
  background-color: #FFFFFF;
  border-radius: 5%;
  text-align: center;

} 

button > .accordion-button {
  background-color: #aca6a6;
}
.accordion-body{
  background-color: #D9D9D9;   
}

.protec {
  display: flex;
  justify-content: space-between;
  background-color: #D9D9D9;

}
.protec-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.valor-hora {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.form-select {
  width: 15vw;
  height: 6vh;
}
.btn-primary{
  background-color: #FFFFFF;
}


a, a:hover{
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: fonteRuda;
  src: url(fonts/Ruda-SemiBold.ttf);
}

@font-face {
  font-family: fonteRudaExtraBold;
  src: url(fonts/Ruda-ExtraBold.ttf);
}
